@{
    ViewData["Title"] = "Contact Us";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center mb-4 text-success">Contact Us</h1>

            <div class="card border-success">
                <div class="card-body">
                    <h5 class="card-title text-success">Get in Touch</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Email:</strong> info@disasteralleviation.org</p>
                            <p><strong>Phone:</strong> 1-8050-DISASTER</p>
                            <p><strong>Emergency Hotline:</strong> 1-9999-EMERGENCY</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Address:</strong></p>
                            <p>148 Navy Avenue<br>Joburg,36120<br>South Africa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>